html { 
    background: url("http://www.4usky.com/data/out/15/164107446-bulb-wallpapers.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Pregunta{
    color: #1A237E;
    letter-spacing: 4%;
    text-shadow:3px 1px #FFF59D;
    font-family: Tahoma, "Geneva", sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-stretch: condensed;
    align-content: center;
    font-size: 200%;
    line-height: 300%;
    margin-top: 22%;
    margin-left: 22%;
}

#Interruptor{
    padding-left: 26%;
    align-content: center;
}